<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get Help on the Ruby Rails Tutorial at the
  <a href="http://www.junglee.com/f/1000570213/ref=footer_help#help">Rails Tutorial on help section</a>
  To get help on this demo app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails
  Tutorial</em>book</a>   
</p>
</body>
</html>
