<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get Help on the Ruby Rails Tutorial at the
  <a href="#">kingdom electronics get on help section</a>
  To get help on this demo app, see the
  <a href="#"><em>kingdom electronics demo
  Application</em>book</a>   
</p>
</body>
</html>
