<span><a class="like-Unlike" href="#">Like</a></span>
<script>
function LikeUnLikeButton() {
            $(".like-Unlike").click(function (e) {
                if ($(this).html() == "Like") {
                    $(this).html('Unlike');
                }
                else {
                    $(this).html('Like');
                }
            });
        }
LikeUnLikeButton();
</script>
<!-- <sapn><a class="like-Unlike" href="#">Like</a></sapn> -->
<!--<script> 
// function like(micropost_id,user_id,default_count)
// {
//   if( user_id == 0 ) {
//     jQuery("#show_login_box").fancybox({cyclic: true}).trigger('click');
//   } else {
//            if( default_count == 0 ) {
//              var new_count = '1';
//              var link = 'unlike(\'' + micropost_id + '\',\'' + user_id + '\',\'' + new_count + '\')\;';
//              jQuery('.likes').html('You like this.');
//             } else {
//              var new_count = parseInt(default_count) + 1;
//                if ( jQuery('.like-user').length ) {
//                    var name = jQuery('.like-user').html();
//                    var link = 'unlike(\'' + micropost_id + '\',\'' + user_id + '\',\'' + new_count + '\')\;';
//                    jQuery('.likes').html('You and <span class="like-user">'  + name + '</span> likes this.');

//                } else {
//                    var link = 'unlike(\'' + micropost_id + '\',\'' + user_id + '\',\'' + new_count + '\')\;';
//                    jQuery('.likes').html('You and <span class="like-user"><a href="#">'  + default_count + ' others</a></span> like this.');

//                }
//             }
//              jQuery('.like_click').attr('onclick',link);
//              jQuery('.like_click span').html('Unlike');
//     jQuery.ajax({
//         url: "/like",
//         // type: 'POST',
//         data: { mcriopost_id: micropost_id, user_id: user_id, type: 'like', count: default_count },
//         // dataType: 'json', 
//         success: function(data)
//         {
//              // jQuery('#' + object_id + '_count').html(data.total);
//         }
//     });
//   }
// }
</script> -->